
html {
  height: 100%;
}

body {
  background: #80B8E0;
  text-align: center;
  background-size: cover;
}
h1 {
  margin: 120px 0px;
  margin-bottom: 10px;
  font-family: Avenir;
  color:navy;
  font-size: 56px;
  font-weight: 500;
}
.glasses {
  padding: 10px;
}
.glasses:hover {
  content: url("white_glasses.png");
}
ul {
  font-family: Georgia;
  color:navy;
  list-style: none;
  padding: 0;
}
li {
  display: inline;
  margin: 0;
  padding: 5px;
}
p {
  font-family: Avenir;
  color:navy;
}
a, a:visited {
  color: navy;
  transition-duration: .2s;
  font-size: 48px;
  text-decoration: none;
}
a:hover {
  color: #80B8E0;
  transition-duration: .2s;
}
.fa {
  width: 90px;
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
  margin: 3px;
}
.container {
  display: flex;
  justify-content: center;
}
.textPhoto {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  margin: 20px;
  word-wrap: normal;
  width: 400px;
}
#Profile {
  width: 220px;
  height:220px;
  border-radius:5px;
  min-width: 220px;
}
