
body {
  text-align: center;

  background: #80B8E0;
  background-size: cover;
}
h1 {
  margin: 120px 0px;
  margin-bottom: 10px;

  color:navy;

  font-family: Avenir;
  font-size: 56px;
  font-weight: 500;
}
.glasses {
  padding: 10px;
}
.glasses:hover {
  content: url(../images/white_glasses.png);
}
ul {
  padding: 0;

  list-style: none;

  color:navy;

  font-family: Georgia;
}
p {
  color:navy;

  font-family: Avenir;
}
p.birthday {
  font: 20px;
  width: 250px;
  margin: 0 auto;
  padding: 0 auto;
  color: navy;
}
a, a:visited {
  transition-duration: .2s;
  text-decoration: none;

  color: navy;

  font-size: 48px;
}
a:hover {
  transition-duration: .2s;

  color: #80B8E0;
}
.fa {
  width: 90px;
  margin: 5px;
  padding: 20px 0;

  border-radius: 5px;
  background-color: white;
}
.container {
  display: flex;

  justify-content: center;
}
.textPhoto {
  display: flex;
  flex-direction: row;

  width: 400px;
  margin: 20px;
  padding: 20px;

  word-wrap: normal;

  border-radius: 5px;
  background-color: white;
}
#profile {
  width: 220px;
  min-width: 220px;
  height:220px;

  border-radius:5px;
}
#linksContainer {
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}
@media only screen and (max-width: 420px) {
  #linksContainer {
    width: 200px;
  }
  h1 {
    font-size: 48px;
  }
}
